.image{
  height:50em; background-size:cover;width:100%;
  background-image: url("https://www.incimages.com/uploaded_files/image/1940x900/getty_960610660_20001333181884380490_365559.jpg");
  background-position:50% 50%;
  }



